body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 220, 247);
    color: rgb(248, 144, 196);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 20px;
    border-bottom: 4px solid #333;
}

header h1 {
    margin: 0;
    color: rgb(255, 202, 255);
    font-size: 2.5em;
}

header p {
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-bottom: 20px;
}

nav {
    background-color: #ffdafc;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(255, 202, 255);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3 ease;
}

nav a:hover {
    color: aliceblue;
    background-color: #eebdea;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    background-color: #ffffff;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ffeffe;
}

h2 {
    color: #000000;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.img-jogo {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: underline;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #000000;
    color: #ffeffe;
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.campo-formulario {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 1px;
    color: #000000;
}

input[type="text"], input [type="email"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #eebdea;
    background-color: #ffffff;
    color: rgb(124, 124, 124);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ffebfd;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #eebdea;
}

footer {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
}